* {
  margin: 0;
  padding: 0;
  list-style: none; }

.header {
  height: 1.2rem;
  width: 100%;
  display: flex;
  background: #39c893; }
  .header > img {
    margin: 0.04rem .28rem;
    width: 1.12rem;
    height: 1.12rem; }
  .header > div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header > div img {
      margin-bottom: .2rem;
      height: .3rem;
      width: 3rem; }
    .header > div p {
      height: .4rem;
      border-radius: 0.2rem;
      line-height: .4rem;
      font-size: .24rem;
      background: #2bb280;
      padding: 0 .16rem;
      color: white; }
      .header > div p span {
        color: #EED732; }
  .header i {
    color: #202020;
    margin-top: .1rem;
    margin-left: .5rem;
    justify-content: flex-start; }

.ss {
  margin-top: .04rem;
  margin-bottom: .2rem;
  padding: 0 .17rem;
  font-size: .28rem;
  display: flex; }
  .ss input {
    height: .7rem;
    width: 100%;
    border: .02rem solid #39c893;
    color: #aaa; }
  .ss button {
    width: 1.38rem;
    border: none;
    background: #39c893;
    color: white; }

.nav {
  padding: 0 .17rem;
  border-top: .18rem solid #F4F4F4; }
  .nav > div {
    display: flex;
    justify-content: space-around; }
    .nav > div p {
      width: 100%;
      text-align: center;
      height: .75rem;
      line-height: .75rem;
      border-bottom: .02rem solid #efefef; }
  .nav ul {
    display: flex;
    justify-content: space-around; }
    .nav ul li {
      text-align: center; }
      .nav ul li a {
        display: block;
        height: 1.05rem;
        width: 1.05rem;
        margin-top: .36rem;
        margin-bottom: .32rem;
        border: 0.04rem solid #39c893;
        border-radius: 50%;
        line-height: 1.05rem; }
        .nav ul li a i {
          width: .58rem;
          height: .58rem;
          font-size: .58rem;
          color: #39c893; }
      .nav ul li p {
        color: #363636; }
  .nav button {
    margin-bottom: .3rem;
    margin-top: .4rem;
    background: white;
    border-radius: 0.05rem;
    border: none;
    border: 1px solid #39c893;
    height: .7rem;
    width: 100%;
    color: #39c893; }

.main {
  padding: 0 0.17rem;
  border-top: .18rem solid #f4f4f4; }
  .main > img {
    width: 100%; }
  .main > div {
    border-left: 0.05rem solid green;
    height: .42rem;
    display: flex;
    align-items: flex-end;
    margin: 0.32rem 0; }
    .main > div p {
      margin: 0 0.1rem;
      font-size: .36rem;
      color: #000; }
    .main > div span {
      font-size: .24rem;
      color: #999; }

.main-e > ul {
  display: flex;
  flex-direction: column; }
  .main-e > ul > li {
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    margin: 0 .18rem;
    padding: .31rem 0; }
    .main-e > ul > li img {
      width: 1.9rem;
      height: 1.45rem;
      margin-right: .22rem; }
    .main-e > ul > li > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .main-e > ul > li > div > p {
        margin-bottom: .3rem; }

.main-e1 {
  display: flex; }
  .main-e1 div {
    font-size: 0.28rem;
    color: #999;
    display: flex;
    margin-right: 0.63rem; }

.huan {
  padding: .3rem .17rem; }
  .huan div {
    width: 100%;
    height: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.28rem;
    color: #39c893;
    border: 1px solid #39c893;
    border-radius: 0.05rem;
    box-sizing: border-box; }

.main-f {
  border-top: .17rem solid #EAEAEA;
  border-bottom: .17rem solid #EAEAEA;
  font-size: .28rem;
  color: #333;
  padding: .36rem .18rem;
  line-height: 0.3rem;
  text-indent: 2em; }

footer {
  width: 100%;
  height: 1.2rem;
  margin-top: 0.16rem;
  text-align: center;
  border-top: 0.14rem solid #f4f4f4;
  padding-top: 0.2rem; }
  footer div {
    width: 100%;
    height: 0.4rem;
    margin: 0.36rem 0;
    display: flex;
    justify-content: center; }
    footer div p {
      float: left;
      color: #39C893; }
    footer div span {
      font-size: 0.22rem; }
  footer ul {
    width: 100%;
    height: 0.8rem; }
    footer ul li {
      width: 25%;
      height: 100%;
      text-align: center;
      float: left;
      margin-top: 0.2rem;
      font-size: 0.22rem; }

.mb {
  width: 100%;
  height: 1.2rem;
  background: black;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); }
  .mb .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 0.5rem; }
  .mb .img2 {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.4rem;
    margin-top: 0.2rem; }
  .mb .p1 {
    color: #eed215;
    position: absolute;
    top: 0.3rem;
    left: 1.2rem;
    font-size: 0.24rem; }
  .mb .p2 {
    color: white;
    position: absolute;
    top: 0.58rem;
    left: 1rem;
    font-size: 0.26rem; }
  .mb button {
    width: 1.2rem;
    height: .4rem;
    background: #feb605;
    border: none;
    border-radius: 0.16rem;
    position: absolute;
    top: .4rem;
    right: 0.1rem;
    color: white;
    font-size: 0.14rem; }

/*# sourceMappingURL=1.css.map */
